@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #403539;
  --bg-start: #C9E6AC;
  --bg-end: #879973;
  --brown: #403539;
  --green-radial-button: radial-gradient(#F1EAD070, #C9E6AC50);
  font-size: 18px;
  color: #403539;
}

body {
  background: url("../../public/leaf_main.svg") center/cover no-repeat fixed, linear-gradient(var(--bg-start), var(--bg-end)) fixed;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-contacts-auto-fill-button {
  position: absolute;
  margin-left: 10px
}
